@using Application.ViewModels

@model PageViewModel

<a asp-action="Index"
   asp-route-page="@(Model.PageNumber + 1)"
   asp-route-pageSize="@Model.PageSize"
   class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
</a>